<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stock Charts</title>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Stock Charts</h1>
      {% for stock, plot in plots.items() %}
        <div>
          <h2>{{ stock }}</h2>
          <div id="plotly-div-{{ stock }}"></div>
          <script type="text/javascript">
            var plotData = {{ plot|safe }};
            Plotly.newPlot('plotly-div-{{ stock }}', plotData.data, plotData.layout);
          </script>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
